@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background-image: url("/imagens/homePageFoto.png");
  background-size: cover;
  background-size: auto;
  background-position: center;
  z-index: -1;
}

.hero-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh; /* Metade da altura da tela */
  background-image: url('/imagens/homePageFoto.png');
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.hero-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(28, 30, 76, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1; /* Para garantir que o conteúdo fique sobre a imagem */
}

.transition-blur {
  margin-top: -8px;
  margin-bottom: -10px;
  width: 100%;
  height: 2vh; /* Altura ajustada para o efeito de desfoque */
  background: linear-gradient(to bottom, rgba(28, 30, 76, 0), rgba(28, 30, 76, 1));
  backdrop-filter: blur(10px); /* Aplicando o efeito de desfoque */
  z-index: 1; /* Para garantir que o conteúdo fique sobre a imagem */
}

.main-page{
  margin-top: -6px;
}
.vynil{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  
  background-image: url("/imagens/foto-vinil-repertorio.png");
}
